/* src/pages/Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 80px); /* Ajuste de altura con el navbar */
  padding-top: 80px;
}

.register-card {
  background-color: #fff;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 50%; /* Aumenta el ancho para acomodar dos columnas */
  max-width: 90%;
  display:inline;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 20px;
  grid-column: span 2; /* Título ocupa ambas columnas */
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #518ee2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  grid-column: span 2; /* Botón abarca ambas columnas */
}

.submit-btn:hover {
  background-color: #4167b2;
}
