

html,
body {
    margin: 0;
    font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/src/assets/images/fondo.svg') no-repeat center center,
        linear-gradient(180deg, #2f54b2 0%, #7da6ed 7%);
    background-size: cover;
    background-attachment: fixed;
}

#root {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-container.svg-background {
    background: url('/src/assets/images/background-top.svg') no-repeat top center;
    background-attachment: fixed;
    background-size: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
