body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 
    url('/src/assets/fondo.svg') no-repeat center,
    linear-gradient(180deg, #2F54B2 0%, #7DA6ED 5%);
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
